html{

}

body{
    margin: 0 auto 0;

}

.container{
    width: 970px !important;
}

#map{
    width: 550px;
    height: 500px;
    background-color: #ccc;
    border-radius: 10px;
}

#sidePanel{
    width: 400px;
}
#sidePanel h4{
    padding: 10px;
}
#sidePanel p{
    text-align: center;
}

.foodChecks{
    font-size: 14pt;
}

.table tr td{
    border: none !important;
}

#response{
    width: 550px;
    padding: 10px 0px;
    text-align: center;
    display: none;
}

#visited{
    padding: 15px;
    clear: both;
    display: none;
}
#visited button{
    margin: 10px;
}

.uiTest{
    width: 300px;
    padding: 15px;
    margin: 0 auto 0;
    text-align: center;
}

.uiTest label{
    font-weight: 100;
    padding: 10px;
}

.btnContain{
    text-align: center;
}